.header{
    background-color:mediumblue;
    padding:10px 0;
}
h1{
    color: black;
    text-align: center;
}
body{
    background-color: red(232, 227, 227);
}
.content{
    max-width: 800px;
    background-color: white;
    border-radius: 5px;
}

















